{% extends "base.html" %}

{% block content %}
  <h3>Log in</h3>

    <form action="/login" method="POST">

      <table>
        <tr>
          <td><label for="username">User name</label></td>
          <td>
            <input name="username" type="text" value="{{ username }}"><td class="error">{{ username_error }}</td>
          </td>
          <td>{{ error }}</td>
        </tr>
        <tr>
          <td><label for="password">Password</label></td>
          <td>
            <input name="password" type="password"><td class="error">{{ password_error }}</td>
            <span class="error"></span>
          </td>
        </tr>
      </table>
      <input type="submit" value="Submit">
    </form>
<br>
If you don't have an account, you can <a href="/signup" >sign up</a> for one.

{% endblock %}
