{% extends "base.html" %}

{% block content %}

  <h3>Sign up</h3>
    <form action="/signup" method="POST">

      <table>
        <tr>
          <td><label for="username">User name</label></td>
          <td>
            <input name="username" type="text" value="{{ username }}">
          </td>
        </tr>
        <tr>
          <td><label for="password">Password</label></td>
          <td>
            <input name="password" type="password">
            <span class="error"></span>
          </td>
        </tr>
        <tr>
          <td><label for="verify">Verify Password</label></td>
          <td>
            <input name="verify" type="password">
            <span class="error"></span>
          </td>
        </tr>
      </table>
      <input type="submit"  value="Submit">
    </form>

{% endblock %}
